body, html {
  overflow: hidden;
  margin: 0;
}

.bar01 {
  --star-parallax-depth: 1;
}

.bar02 {
  --star-parallax-depth: 2;
}

.bar03 {
  --star-parallax-depth: 3;
}

.bar04 {
  --star-parallax-depth: 4;
}

.bar05 {
  --star-parallax-depth: 5;
}

.bar-label {
  fill: white;
}

.parallax-effect {
  --parallaxTranslationY: calc(-1px * var(--star-parallax-ratio, 0) * var(--star-parallax-intensity, 500));

  transform: translate(0, calc(var(--parallaxTranslationY) / var(--star-parallax-depth, 1) ));
}

.ratio-text {
  fill: #ffffff;
}

/* only for this pen */
body {
  background: black;
  margin: 0;
  height: 500vh;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
