.shooting-star {  
  animation: shootingStarBurn 2s linear infinite;
}

@keyframes shootingStarBurn {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

/* only for this pen */
body {
  background: black;
  margin: 0;
}

svg {
  max-height: 100vh
};